<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXL_SlgzFb87GIaLNqIA2FN7V6EHq4kdo</string>
	<key>GCM_SENDER_ID</key>
	<string>196174996103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geethajewellers</string>
	<key>PROJECT_ID</key>
	<string>geeta-jewellers</string>
	<key>STORAGE_BUCKET</key>
	<string>geeta-jewellers.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196174996103:ios:1c1ec234e3931d2ad54e22</string>
</dict>
</plist>